.row {
    margin-top: 20px !important;
    margin-bottom: 40px;
}

.allCategories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 15px;
}

.mealCard {
    padding: 10px;
    width: 280px;
    min-height: 350px;

    box-shadow: 0 0 3px black;
    border-radius: 10px;
    overflow: hidden;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.card {
    padding: 10px;
    min-height: 350px;

    &-image {
        .card-title {
            font-weight: 700;
            font-size: 30px;
            bottom: -20px !important;

            &.card-title_white {
                color: rgb(245, 245, 245) !important;

                &:hover {
                    color: darken(#f5f5f5, 10%);
                }
            }

            &.card-title_black {
                color: rgb(0, 0, 0) !important;

                &:hover {
                    color: darken(#000000, 10%);
                }
            }
        }
    }
}