.footer {
  padding: 10px;
  height: 70px;
  background-color: rgb(253, 86, 86);
  flex-shrink: 0;
  .footer__copyright {
    text-align: center;
    margin-bottom: 15px;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0 auto;

    img {}
  }
}